.card{
    width: 20rem;
}

.card-body,.btn {
    font-weight: 650;
    font-size: 14px;
}

span{
    color: rgb(252, 26, 26);
}

/* footer  */
.ptag1 {
    line-height: 1.5rem;
}

.a {
    margin-top: 0.5rem;
    font-weight: 650;
    font-size: 12px;
}

footer {
    padding-top: 2rem;
}