<div>
  <!-- navbar -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <a class="navbar-brand p-1 text-white bg-primary border rounded" href="#">ShortLinks.io</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/main" routerLinkActive>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login" routerLinkActive>Sign In</a>
            </li>
            <b class="m-2 d-none d-md-block">|</b>
            <li class="nav-item">
              <a class="nav-link text-primary" routerLink="/register" routerLinkActive>Sign Up</a>
            </li>
          </ul>
        </span>
      </div>
    </div>
  </nav> -->


  <router-outlet></router-outlet>

</div>