/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    transition: all .4s ease;
}

/* font weight styles */

.wt-600 {
    font-weight: 600;
}

.wt-800 {
    font-weight: 800;
}

/* spacing styles */

.spacer-xs {
    padding: .25rem;
}

.spacer-sm {
    padding: .5rem;
}

.spacer-md {
    padding: 1rem;
}

.spacer-lg {
    padding: 2rem;
}

/* form styling */

input{
    box-shadow:0 0 2px rgba(0,0,0,0.2);
}

input.ng-touched.ng-invalid {
    box-shadow:0 0 4px rgb(247, 66, 66);
    border: 2px solid rgb(240, 25, 25);
}

/* snackbar */
#snackbar{
    position: fixed;
    /* left: 50%;
    bottom:5%;
    transform: translate(-50%,-50%); */
    padding: 25px;
    height: 35px;
    min-width: 200px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color:#fff;
    font-size: 20px;

    visibility: hidden;
}

#snackbar.show{
    visibility: visible;
    animation: fadein 300ms , fadeout 500ms 2500ms;
}

@keyframes fadein{
    from{
        bottom: 0;
        opacity: 0;
    }
    to{
        bottom: 5%;
        opacity: 1;
    }
}

@keyframes fadeout{
    from{
        bottom: 5%;
        opacity: 1;
    }
    to{
        bottom: 0;
        opacity: 0;
    }
}

